.footer {
  background-image: url(https://theme.hstatic.net/1000263110/1000337803/14/ft_bg_img.png?v=1416);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  position: relative;
  /*  */
  margin: auto;
}
.footer,
.footer a {
  color: white;
}
.footer-main {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  top: 0;
  height: auto;
  padding: 50px 0;
}
.footer-main-content {
  margin: auto;
  max-width: 1200px;
}
.footer-main-content > ul > li > div {
  margin-bottom: 30px;
}
.footer-info > div {
  display: flex;
  align-items: center;
  width: 90%;
}
.footer-info > div:nth-child(2),
.footer-menu li:first-child,
.footer-service li:first-child {
  margin-top: 30px;
}
.footer-info i {
  margin-right: 10px;
}
.footer-info > div,
.footer-menu li,
.footer-service li {
  margin-bottom: 10px;
}
.footer-main-content h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.footer-main-content h3::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--color_one);
  display: block;
  margin-top: 5px;
}
