.menu-top-header {
  background-color: rgba(0, 0, 0, 0) !important;
  position: absolute !important;
}
.slider-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

#owl-slider .owl-dots {
  margin: 0;
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
}
.slider-image img {
  height: 100%;
  max-height: 740px;
  width: 100%;
  max-width: 100%;
}
#owl-slider .owl-dot span {
  border-radius: 0;
  background-color: var(--color_three);
  width: 13px;
  height: 13px;
  margin: 4px;
}
#owl-slider .owl-dot.active span,
#owl-slider .owl-dot span:hover {
  background-color: white;
}
#owl-slider .owl-dot.active {
  border: 1px solid white;
}
#owl-slider .owl-dot:not(:last-child) {
  margin-right: 10px;
}

.infomation {
  height: 500px;
}
