:root {
  --color_one: rgb(232, 176, 74);
  --color_two: rgb(211, 194, 174);
  --color_three: rgb(199, 197, 198);
  --color_menu_mobile: rgba(48, 41, 36, 0.8);
  --color_four: rgb(48, 41, 36);
  --color_five: #c9b295;
  --color_six: rgb(200, 149, 81);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
}

::-webkit-scrollbar-thumb {
  background: var(--color_one);
}
/* body */
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #333333;
  position: relative;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
input,
button,
button:focus {
  outline: none;
}
button {
  border: none;
}
[class*="col-"] {
  padding-left: 7.5px;
  padding-right: 7.5px;
  align-items: center;
}
.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
  color: var(--color_one) !important;
}

a {
  color: #333333;
}
a:focus {
  text-decoration: none !important;
  outline: none;
}

.blue_light {
  color: rgb(15, 158, 216);
}
.container {
  padding: 0 7.5px;
}
/* menu */

.menu-top-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 5px 0;
  background-color: black;
}
.menu-main {
  width: 100%;
}
.menu-top-introduce a {
  color: white;
}
.menu-top-introduce ul {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  width: 100%;
}
.menu-top-introduce li:first-child a {
  margin-right: 10px;
}
.menu-top-introduce li:last-child a {
  margin-left: 30px;
}
.menu-top-introduce li:last-child i {
  margin-right: 3px;
}
.icon-menu,
.menu-main-content div.menu-main-navbar,
.menu-main-content-left ul,
.menu-main {
  display: flex;
}
.menu-main-content div.menu-main-navbar {
  justify-content: flex-end;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 15%;
  transform: skewX(40deg);
}

.menu-main-content > div {
  margin-right: -50px;
  background-color: rgb(48, 41, 36);
  border: 1px solid var(--color_two);
  transform: skewX(-40deg);
  border-radius: 5px;
}
.menu-main-content ul li {
  height: 50px;
  margin-right: 40px;
}
.icon-menu div {
  margin-left: 20px;
}
.icon-menu-item.cart-bag a {
  position: relative;
}
.icon-menu-item.cart-bag a span {
  position: absolute;
  background-color: var(--color_one);
  top: -10px;
  right: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  color: white;
  line-height: 1;
  font-size: 13px;
}
.logo-menu {
  width: 30%;
}
.menu-main-content {
  width: 70%;
}
.menu-main-content div.menu-main-navbar a {
  color: var(--color_two);
  transition: 0.5s ease;
}
.menu-main-content-left li,
.icon-menu > div {
  padding: 20px 0;
}
.menu-main-left-item a:hover {
  color: var(--color_one);
}
.menu-top-header.header-fixed {
  position: fixed !important;
  background-color: rgb(19, 16, 14) !important;
  animation: slide-down 0.5s;
}
.menu-top-header.header-fixed > div:first-child {
  display: none;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* mega-menu */
.menu-main-left-item {
  position: relative;
}
.mega-menu {
  position: absolute;
  height: 200px;
  width: 500px;
  z-index: 500;
  top: 300%;
  background-color: white;
  right: -100%;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
}

.menu-main-left-item:hover .mega-menu,
.icon-menu-item:hover .mega-menu {
  visibility: visible;
  top: 125%;
  opacity: 1;
  transition: 1s ease;
}
.menu-mobile-flex,
.menu-tool-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-mobile-flex {
  padding: 10px 0;
}
/*  */
.menu-mobile-header {
  display: none;
}
/*  */
.menu-mobile-flex .logo-mobile {
  width: 40%;
  margin-left: 15px;
}
.menu-mobile-flex .logo-mobile img {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 30px;
}
.menu-mobile-flex .menu-tool-mobile {
  margin-right: 15px;
  min-height: 40px;
}
.menu-mobile-flex .cart-bag {
  margin-right: 15px;
}
.menu-mobile-flex .cart-bag > a i {
  color: var(--color_one);
}

.menu-tool-mobile .button-menu-mobile > button i {
  margin-left: 5px;
  font-size: 20px;
}
.menu-mobile-flex .button-menu-mobile > button {
  text-transform: uppercase;
  color: var(--color_one);
  background-color: white;
}
.menu-mobile-flex .cart-bag > a i {
  font-size: 20px;
}
.menu-mobile-flex .cart-bag > a span {
  font-size: 13px;
  width: 15px;
  height: 15px;
  top: -10px;
  right: -10px;
}
#opacity {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  z-index: 500;
}
#opacity.active {
  display: block;
  transition: 0.5s ease;
}
.mobile-menu-main {
  position: fixed;
  z-index: 550;
  top: 0;
  right: -100%;
  display: block;
  background-color: var(--color_menu_mobile);
  width: 70%;
  max-width: 280px;
  height: 100%;
  overflow: auto;
  max-height: 100%;
  border-left: 1px solid white;
  visibility: hidden;
  transition: 0.5s ease;
}
.mobile-menu-main.active {
  right: 0;
  visibility: visible;
  transition: 0.5s ease;
}

.mobile-menu-main-content {
  padding: 20px 0;
  position: relative;
}
.mobile-menu-main-content,
.mobile-menu-main-content a,
.mobile-menu-main-content > button.close-modal {
  color: white;
}
.mobile-menu-main-content > button.close-modal {
  font-weight: normal;
  position: absolute;
  height: 30px;
  top: 20px;
  right: 20px;
  opacity: 1;
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgba(48, 41, 36, 0);
}
.mobile-menu-main-content > button.close-modal i {
  font-size: 16px;
}
.mobile-main-list {
  padding-top: 50px;
}
.mobile-main-list li {
  text-transform: uppercase;
  line-height: 4;
  padding: 0 20px;
  font-weight: 500;
  font-size: 13px;
  /* border-top: 1px solid white */
}
.mobile-main-list li a,
.mobile-main-list li,
.mobile-main-list li > div:nth-child(1) {
  position: relative;
}
.mobile-main-list li > div:nth-child(1) {
  height: 50px;
}
.mobile-main-list .mobile-menu-item > div:nth-child(1) span {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  line-height: 4;
  text-align: center;
  font-weight: normal;
}
.mobile-main-list .mobile-menu-item > div:nth-child(1) span.active::before {
  content: "\f068";
}
.mobile-main-list > ul > li::before {
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: var(--color_five);
  content: "";
}

.mobile-main-list > ul > li.active::before,
.mobile-main-list > ul > li:hover::before {
  width: 3px;
  transition: 0.5s ease;
}
.mobile-main-list > ul > li a:hover {
  color: var(--color_five) !important;
}
.mobile-main-list li a::after {
  content: "";
  width: 0;
  height: 0.5px;
  transition: 0.5s ease;
  background-color: var(--color_five);
  position: absolute;
  bottom: 0;
  left: 0;
}
.mobile-main-list li a:hover::after {
  width: 100%;
}
.mobile-main-list > ul > li.active {
  background-color: rgba(48, 41, 36);
  transition: 0.5s ease;
}

.list-content-item {
  max-height: 0;
  overflow: hidden;
}

.mobile-menu-item .list-content-item.active {
  max-height: 100%;
  transition: 0.5s ease;
}

.menu-mobile-bottom-content {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color_six);
  width: 100%;
  display: none;
}
.menu-mobile-bottom-content ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 20%));
  height: 70px;
}

.menu-mobile-bottom .menu-mobile-bottom-child > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
  /* position: relative; */
}
.menu-mobile-bottom .menu-mobile-bottom-child .index-number {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
  color: var(--color_six);
  font-size: 14px;
}
.menu-mobile-bottom .menu-mobile-bottom-child > div > a > i {
  font-size: 22px;
  position: relative;
}
.menu-mobile-bottom .menu-mobile-bottom-child > div {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .menu-mobile-header {
    display: block;
  }
  .menu-top-header {
    display: none;
  }
  .menu-mobile-bottom-content {
    display: block;
  }
}
@media only screen and (max-width: 767px) and (min-width: 250px) {
  .menu-mobile-bottom .menu-mobile-bottom-child > div > a > span {
    font-size: 13px;
  }
  .menu-mobile-bottom .menu-mobile-bottom-child > div > a > i {
    /* font-size: 18px; */
  }
}
