.breadcrumb-wrapper {
  height: 300px;
  background-image: url(https://theme.hstatic.net/1000263110/1000337803/14/breadcrumb_bg5.png?v=1416);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  /* padding-top: 50px; */
}
.breadcrumb-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.breadcrumb-content {
  position: absolute;
  top: 50%;
  width: 100%;
}
.breadcrumb-content > div {
  width: 80%;
  text-align: center;
  margin: auto;
}
.breadcrumb-content li,
.breadcrumb-content h2,
.breadcrumb-content li a {
  color: white;
}
.breadcrumb-content h2,
.form-wrapper h1 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}
.breadcrumb-link {
  display: flex;
  justify-content: center;
}
.breadcrumb-link li + li::before {
  content: "/";
  margin: 0 5px;
}
.form-wrapper {
  max-width: 370px;
  width: 100%;
  margin: 5% auto 10%;
  text-align: center;
}
.form-wrapper h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color_three);
}
.form-wrapper input {
  border: 1px solid var(--color_three);
  padding-left: 10px;
}
.form-wrapper input,
.form-wrapper button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}
.form-wrapper button {
  background-color: var(--color_one);
  color: white;
}
.form-wrapper button:hover {
  background-color: var(--color_six);
}
.form-wrapper a {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
